/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2015, 11:33:50 AM
    Author     : sofus
*/

#map-canvas{
    width: 350px;
    height: 175px;
    margin: 0px;
    padding: 0px;
}