

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#logo{
    padding: 0px;
}

#btn-login, div.login-grp{
    display: none;
}
.row{
    padding-top: 1%;
    padding-bottom: 6%;
}
#bgndVideo{
    top: -1%;
    position: absolute; 
    z-index: 0; 
    opacity: 0.2;
    overflow: hidden;
    width: 98%;
    height: auto;
    padding-left: -15px;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    z-index: 10;
    width: 100%;
    padding-top:10px;
}
#top-maincontent{
    padding-top:45px;
}

#fcontain{
    z-index: 10;
    position: relative;
}
#firstcontent{
    margin-top: 20px;
}